<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汕尾市公共资源交易平台</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.3.4.1.js"></script>
</head>

<body class="web_page h rel">
    <div class="header_page"></div>
    <div class="navigation bg_m c_f fs18">
        <div class="main b">
            <a class="fl" href="../index.html">首页</a>
            <a class="fl" href="./land.html">土地交易</a>
            <a class="fl" href="./mine.html">矿业权交易</a>
            <a class="fl" href="./arable.html">耕地指标</a>
            <a class="fr login">登录系统<i class="login_icon"></i></a>
        </div>
    </div>
    <div class="content file_down_info">
        <div class="main">
            <div class="down_module_1 w">
                <p class="fs14 c_57" style="margin: 22px 0;">首页>文件下载>正文</p>
            </div>
            <div class="down_module_2 w">
                <div class="module_content">
                    <p class="text_title c_text fs18 b tx_c">
                        <span>陆丰市国有建设用地使用权和矿业权网上挂牌交易系统用户手册</span>
                    </p>
                    <p class="text_date c_7c fs14 tx_c">
                        <span style="padding-right: 47px;">发布时间：2020-02-12</span>
                        <span>信息来源：汕尾公共资源交易中心</span>
                    </p>
                    <P class="c_57 fs14">
                        第一条为推进我市产权交易市场建设，规范企业产权交易行为，促进经济结构调整，优化资源配置，维护产权交易当事人的合法权益，防止国有资产流失，根据国家和省的有关法规、政策规定，结合本市实际，制定本规定。
                    </P>
                    <P class="c_57 fs14">
                        第二条本规定适用于本市企业国有、集体产权交易。
                    </P>
                    <P class="c_57 fs14">
                        第三条本规定所称企业产权交易是指通过市场依法公开以有偿方式转让和受让企业产权的行为。
                    </P>
                    <p class="c_57 fs14">
                        本规定所称企业产权是指被转让企业的全部或部分产权（股权）。
                    </p>
                    <P class="c_57 fs14">
                        本规定所称产权交易的转让方是指在产权交易中有偿转让所拥有产权的法人或其他组织；受让方是指在产权交易中有偿受让产权的法人、其他组织或自然人。
                    </P>
                    <P class="c_57 fs14">
                        第四条企业产权交易必须依法进行，遵循自愿、诚实信用，平等竞争、等价有偿，公开、公平、公正的原则。
                    </P>
                    <P class="c_57 fs14">
                        第五条企业产权交易双方应依法保障职工合法权益，按国家有关规定妥善安置企业人员。
                    </P>
                    <P class="c_57 fs14">
                        第六条市财政部门是全市企业产权交易的行政主管部门，依法对产权交易行为及交易机构进行指导、检查和监督。
                    </P>
                    <P class="c_57 fs14">
                        第七条市公共资源交易中心是经市人民政府批准，依法设立的产权交易中介服务机构。公共资源交易中心从事产权交易业务，不得以营利为目的。
                    </P>
                    <P class="c_57 fs14">
                        第八条下列国有产权必须通过市公共资源交易中心进行公开交易，禁止场外交易：
                    </P>
                    <P class="c_57 fs14">
                        （一）本市所属（含各县、区）国有企业、集体企业产权；
                    </P>
                    <P class="c_57 fs14">
                        （二）本市所属（含各县、区）占有国有、集体资产的非上市公司制企业及其他企业的整体或部分国有产权；
                    </P>
                    <P class="c_57 fs14">
                        （三）行政事业单位产权；
                    </P>
                    <P class="c_57 fs14">
                        （四）政府公共资源的有偿转让，包括政府投资形成的公共设施及特许经营权。
                    </P>
                    <P class="c_57 fs14">
                        单纯的土地、房产、技术等有形、无形资产交易，可在相应的专业市场进行。
                    </P>
                    <P class="c_57 fs14">
                        第九条在同一授权经营机构或企业集团内部发生的产权变动，或经市政府批准免于进场交易的产权转让可免于进场交易。
                    </P>
                    <P class="c_57 fs14">
                        本市范围内，其他所有制性质的企业产权也可进场交易。
                    </P>
                    <P class="c_57 fs14">
                        第十条下列企业国有产权禁止转让交易：
                    </P>
                    <P class="c_57 fs14">
                        （一）涉及国家机密、国家安全、国防、尖端技术的；
                    </P>
                    <P class="c_57 fs14">
                        （二）产权不明晰或有争议的；
                    </P>
                    <P class="c_57 fs14">
                        （三）已被设置抵押，未经抵押权人同意的；
                    </P>
                    <P class="c_57 fs14">
                        （四）已被诉讼保全或被强制执行，未经管辖法院同意的；
                    </P>
                    <P class="c_57 fs14">
                        （五）产权标的处置权受限制的；
                    </P>
                    <P class="c_57 fs14">
                        （六）法律、法规或政府禁止转让的。
                    </P>
                    <P class="c_57 fs14">
                        第十一条转让企业国有产权涉及专卖权、专营权、专项许可证或者其他特许经营权的，按国家有关法律、法规执行。转让方和受让方的资格应符合相关法律、法规规定。
                    </P>
                    <P class="c_57 fs14">
                        第十二条转让企业国有产权，必须依法取得出资人的批准文件。向国（境）外投资者转让企业国有产权的，还应按《利用外资改组国有企业暂行规定》（国家经济贸易委员会、财政部、国家工商行政管理总局、国家外汇管理局令第42号）和《外国投资者并购境内企业暂行规定》的原则、要求和程序办理有关审批手续。
                    </P>
                    <P class="c_57 fs14">
                        第十三条企业国有产权在转让前，必须聘请具有合法资格的中介机构进行财务审计和资产评估。评估结果按规定报财政部门核准或备案后，作为确立交易价格的参考依据。未经依法评估的国有产权不得进行交易。同一中介机构不能同时承担同一企业国有产权转让的财务审计和资产评估。
                    </P>
                    <P class="c_57 fs14">
                        第十四条企业产权交易采取协议转让、公开竞价等方式进行。申请受让方为一家的，可采取协议转让的方式交易；申请受让方为两家以上的，应采取公开竞价方式交易。
                    </P>
                    <P class="c_57 fs14">
                        第十五条企业国有产权采取公开竞价方式转让时，在同等条件下，企业内部职工可优先购买，并按有关政策享受优惠。
                    </P>
                    <P class="c_57 fs14">
                        第十六条企业国有产权交易按照申请登记、办理委托、资料核查、挂牌公示、信息发布、咨询洽谈、公开竞价、签约成交、结算交割、交易鉴证、变更登记等程序进行。
                    </P>

                </div>
                <div class="module_attachment">
                    <div class="fs16 c_text">附件：</div>
                    <div class="attachment_list">
                        <div class="attach_item">
                            <a href="#">定产权交易机构章程和交易规则.doc</a>
                        </div>
                        <div class="attach_item">
                            <a href="#">定产权交易机构章程和交易规则.doc</a>
                        </div>
                    </div>
                    <div class="other_list fs14 c_m">
                        <p>上一条：公共资源交易中心应根据本规定制定产权交易机构章程和交易规则</p>
                        <p>下一条：公共资源交易中心应根据本规定制定产权交易机构章程和交易定产权交易机构章程和交易规则规则</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_page"></div>
    <script src="../static/js/index.js"></script>
</body>

</html>