<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汕尾市公共资源交易平台</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.3.4.1.js"></script>
</head>

<body class="web_page h rel">
    <div class="header_page"></div>
    <div class="navigation bg_m c_f fs18">
        <div class="main b">
            <a class="fl" href="../index.html">首页</a>
            <a class="fl" href="./land.html">土地交易</a>
            <a class="fl" href="./mine.html">矿业权交易</a>
            <a class="fl" href="./arable.html">耕地指标</a>
            <a class="fr login">登录系统<i class="login_icon"></i></a>
        </div>
    </div>
    <div class="content file_down">
        <div class="main">
            <div class="down_module_1 w">
                <p class="fs14 c_57" style="margin: 22px 0;">首页>系统帮助</p>
                <div class="module_search">
                    <div class="c_text fs18 b in_b">帮助专区</div>
                    <div class="search_box fr clearfix">
                        <input class="in_b va_m search_input" type="text" placeholder="请输入相关内容">
                        <button class="in_b va_m search_btn"></button>
                    </div>
                </div>
            </div>
            <div class="down_module_2 w">
                <div class="module_list fs14">
                    <div class="item c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">电子标书文件制作工具V1.0.10版（招标工具）优化工具及更新签章驱动</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item odd c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">政府采购业务采购人办事指引（适用于公开招标、竞争性谈判、竞争性磋商、询价或单一</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">【政府采购交易系统】采购人信息系统操作指引汇总</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item odd c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">招标人重新招标操作须知(建设工程类)</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">电子标书文件制作工具V1.0.10版（招标工具）优化工具及更新签章驱动</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item odd c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">政府采购业务采购人办事指引（适用于公开招标、竞争性谈判、竞争性磋商、询价或单一</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">电子标书文件制作工具V1.0.10版（招标工具）优化工具及更新签章驱动</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item odd c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">政府采购业务采购人办事指引（适用于公开招标、竞争性谈判、竞争性磋商、询价或单一</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">电子标书文件制作工具V1.0.10版（招标工具）优化工具及更新签章驱动</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item odd c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">政府采购业务采购人办事指引（适用于公开招标、竞争性谈判、竞争性磋商、询价或单一</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">电子标书文件制作工具V1.0.10版（招标工具）优化工具及更新签章驱动</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                    <div class="item odd c_57">
                        <a href="helpinfo.html">
                            <p class="fl clearfix">政府采购业务采购人办事指引（适用于公开招标、竞争性谈判、竞争性磋商、询价或单一</p>
                            <p class="fr clearfix">2020-05-12</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="down_module_3 w tx_c">
                <img src="../static/img/pagination.jpg" alt="" style="width: 564;height: 28px;">
            </div>
        </div>
    </div>
    <div class="footer_page"></div>
    <script src="../static/js/index.js"></script>
</body>

</html>