<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汕尾市公共资源交易平台</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.3.4.1.js"></script>
</head>

<body class="web_page h rel">
    <div class="header_page"></div>
    <div class="navigation bg_m c_f fs18">
        <div class="main b">
            <a class="fl" href="../index.html">首页</a>
            <a class="fl bg_dm" href="./land.html">土地交易</a>
            <a class="fl" href="./mine.html">矿业权交易</a>
            <a class="fl" href="./arable.html">耕地指标</a>
            <a class="fr login">登录系统<i class="login_icon"></i></a>
        </div>
    </div>
    <div class="content land">
        <div class="main">
            <div class="land_module_1 w">
                <p class="fs14 c_57" style="margin: 22px 0;">首页>土地交易</p>
                <div class="module_notice">
                    <div class="card card_1 c_50">
                        <div class="item">
                            <img class="mgb_13" src="../static/img/land/land_item_1.png" alt="">
                            <p class="fs18 b tx_c">正在公告</p>
                        </div>
                    </div>
                    <div class="card card_2 c_50">
                        <div class="item">
                            <img class="mgb_13" src="../static/img/land/land_item_2.png" alt="">
                            <p class="fs18 b tx_c">正在竞价</p>
                        </div>
                    </div>
                    <div class="card card_3 c_50">
                        <div class="item">
                            <img class="mgb_13" src="../static/img/land/land_item_3.png" alt="">
                            <p class="fs18 b tx_c">结果公示</p>
                        </div>
                    </div>
                    <div class="card card_4 c_50">
                        <div class="item">
                            <img class="mgb_13" src="../static/img/land/land_item_4.png" alt="">
                            <p class="fs18 b tx_c">补充公告</p>
                        </div>
                    </div>
                </div>

                <div class="search">
                    <img class="h70 w" src="../static/img/search.jpg" alt="">
                </div>
            </div>
            <div class="land_module_2 w">
                <div class="module_title fs18 c_text b">穗规划资源埔（开）挂出告字〔2020〕04号</div>
                <a href="./tradeinfo.html">
                    <div class="module_table"></div>
                </a>
            </div>
            <div class="land_module_3 w">
                <div class="module_title fs18 c_text b">穗规划资源埔（开）挂出告字〔2020〕04号</div>
                <a href="./tradeinfo.html">
                    <div class="module_table"></div>
                </a>
            </div>
            <div class="land_module_4 w">
                <div class="module_title fs18 c_text b">穗规划资源埔（开）挂出告字〔2020〕04号</div>
                <a href="./tradeinfo.html">
                    <div class="module_table"></div>
                </a>
            </div>
            <div class="land_module_5 w">
                <div class="module_title fs18 c_text b">穗规划资源埔（开）挂出告字〔2020〕04号</div>
                <a href="./tradeinfo.html">
                    <div class="module_table"></div>
                </a>
            </div>
            <div class="land_module_6 w tx_c">
                <img src="../static/img/pagination.jpg" alt="" style="width: 564;height: 28px;">
            </div>
        </div>
    </div>
    <div class="footer_page"></div>
    <script src="../static/js/index.js"></script>
</body>

</html>