<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汕尾市公共资源交易平台</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.3.4.1.js"></script>
</head>

<body class="web_page h rel">
    <div class="header_page"></div>
    <div class="navigation bg_m c_f fs18">
        <div class="main b">
            <a class="fl" href="../index.html">首页</a>
            <a class="fl" href="./land.html">土地交易</a>
            <a class="fl" href="./mine.html">矿业权交易</a>
            <a class="fl" href="./arable.html">耕地指标</a>
            <a class="fr login">登录系统<i class="login_icon"></i></a>
        </div>
    </div>
    <div class="content live">
        <div class="main">
            <div class="live_module_1 w">
                <p class="fs14 c_57" style="margin: 22px 0;">首页>交易直播</p>
            </div>
            <div class="live_module_2 w">
                <div class="live_ist">
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                    <a href="./liveinfo.html">
                        <div class="live_item"></div>
                    </a>
                </div>
            </div>

            <div class="live_module_3 w tx_c">
                <img src="../static/img/pagination.jpg" alt="" style="width: 564;height: 28px;">
            </div>
        </div>
    </div>
    <div class="footer_page"></div>
    <script src="../static/js/index.js"></script>
</body>

</html>