<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汕尾市公共资源交易平台</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.3.4.1.js"></script>
</head>

<body class="web_page h rel">
    <div class="header_page"></div>
    <div class="navigation bg_m c_f fs18">
        <div class="main b">
            <a class="fl" href="../index.html">首页</a>
            <a class="fl" href="./land.html">土地交易</a>
            <a class="fl" href="./mine.html">矿业权交易</a>
            <a class="fl" href="./arable.html">耕地指标</a>
            <a class="fr login">登录系统<i class="login_icon"></i></a>
        </div>
    </div>
    <div class="content live_info">
        <div class="main">
            <div class="live_module_1 w">
                <p class="fs14 c_57" style="margin: 22px 0;">首页>直播详情</p>
            </div>
            <div class="live_module_2 w">
                <div class="module_info">
                    <div class="module_info_l fl">
                        <img src="../static/img/live/no_img.png" class="w h left_img" alt="">
                    </div>
                    <div class="module_info_r fl text_c">
                        <div class="live_info_title fs24">白云区地铁13号线二期槎头站场站综合体地块</div>
                        <div class="live_info_status fs18">
                            <div class="fs14 status in_b va_m">正在进行</div>
                            <div class="stime c_m in_b va_m">距离剩余时间：21小时0分54秒</div>
                            <div class="etime c_m in_b va_m">竞买截止时间：21小时0分54秒</div>
                        </div>
                        <div class="fs14">
                            <p><span>当前最高价：</span><span class="fs24 c_h">￥185486</span></p>
                            <p><span>竞买起始价：</span><span>￥185486</span></p>
                            <p>
                                <span class="in_b va_m" style="width: 300px;">服务器时间：2020-12-15 25:15:12</span>
                                <span>挂牌截止时间：2020-12-15 25:15:12</span>
                            </p>
                            <p>
                                <span class="in_b va_m" style="width: 300px;">挂牌截止时间：2020-12-15 25:15:12</span>
                                <span>交易方式：网上交易（挂牌）</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accepting">
                    <p class="text_c fs18 b tx_c">当前最高成交价</p>
                    <div class="money_btn">
                        <span class="in_b  money c_h fs36 b">158442245</span>
                        <span class="in_b  fs18 c_16">万元</span>
                    </div>
                </div>
            </div>

            <div class="live_module_3 w">
                <div class="tab_content">
                    <div class="module_title c_0f fs22 b in_b va_m">竞价记录</div>
                </div>
                <div class="module_table"></div>
            </div>
        </div>
    </div>
    <div class="footer_page"></div>
    <script src="../static/js/index.js"></script>
</body>

</html>