<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汕尾市公共资源交易平台</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.3.4.1.js"></script>
</head>

<body class="web_page h rel">
    <div class="header_page"></div>
    <div class="navigation bg_m c_f fs18">
        <div class="main b">
            <a class="fl" href="../index.html">首页</a>
            <a class="fl" href="./land.html">土地交易</a>
            <a class="fl" href="./mine.html">矿业权交易</a>
            <a class="fl" href="./arable.html">耕地指标</a>
            <a class="fr login">登录系统<i class="login_icon"></i></a>
        </div>
    </div>
    <div class="content trade_info">
        <div class="main">
            <div class="trade_module_1 w">
                <p class="fs14 c_57" style="margin: 22px 0;">首页>土地交易>详情</p>
                <div class="module_title c_text fs26 tx_c">广州市黄埔区科学大道以北、开泰大道以西KXC-I3-2地块</div>
                <div class="module_base">
                    <div class="item item1 fs14 tx_c">
                        <div class="item_l c_text">起始价</div>
                        <div class="item_r c_h">
                            <p class="fs26 money">154654</p>
                            <p>万元人民币</p>
                        </div>
                    </div>
                    <div class="item item2 fs14 tx_c">
                        <div class="item_l c_text">增加幅度</div>
                        <div class="item_r c_h">
                            <p class="fs26 money">154654</p>
                            <p>万元人民币</p>
                        </div>
                    </div>
                    <div class="item item3 fs14 tx_c">
                        <div class="item_l c_text">保证金</div>
                        <div class="item_r c_h">
                            <p class="fs26 money">546841667</p>
                            <p>万元人民币</p>
                        </div>
                    </div>
                </div>
                <div class="module_base fs14 text_c">
                    <div class="base_item base_item1">
                        <p>交易方式:线上(挂牌)</p>
                        <p>竞买申请开始时间： 2020-02-10 08:30:00</p>
                        <p>限时竞价开始时间：2020-03-13 10:00:00</p>
                    </div>
                    <div class="base_item base_item2">
                        <p>类型：土地出让</p>
                        <p>竞买申请截止时间：2020-03-02 17:00:00</p>
                        <p>允许联合竞买：否</p>
                    </div>
                    <div class="base_item base_item3">
                        <p>土地用途:商务用地（B2）</p>
                    </div>
                </div>
            </div>
            <div class="trade_module_2 w">
                <div class="tab_content">
                    <ul class="tab fs16 in_b va_m" id="tab1">
                        <li class="li"><span>出让公告</span></li>
                        <li class="li"><span>图片</span></li>
                        <li class="li current"><span>挂牌出让文件</span></li>
                        <li class="li"><span>竞价记录</span></li>
                        <li class="li"><span>成交公示</span></li>
                    </ul>
                </div>
                <div class="module_table"></div>
            </div>

        </div>
    </div>
    <div class="footer_page"></div>
    <script src="../static/js/index.js"></script>
</body>

</html>