.boxUser {
    
    display: flex;
    align-items: center;
    height: 206px;

    .left {
        width: 109px;
        height: 145px;
        margin-right: 30px;
        flex-shrink: 0;

        .userIcon {
            width: 109px;
            height: 145px;
        }
    }

    .right {
        
        .row_name {

            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .name {
                font-family: SourceHanSansSC-Bold;
                font-weight: 700;
                font-size: 32px;
                color: #1E1E1E;
                letter-spacing: 0;
            }

            .type {
                font-family: SourceHanSansSC-Regular;
                font-weight: 400;
                font-size: 24px;
                color: #004EAD;
                letter-spacing: 0;
                background-image: linear-gradient(270deg, #e1efff00 1%, #D3E7FF 100%);
                border-radius: 100px 0 0 100px;
                position: relative;
                margin-left: 38px;
                padding-left: 40px;
                min-height: 32px;

                &::after {
                    content: "";
                    background: url("./images/icon1.png") no-repeat;
                    width: 31.16px;
                    height: 32px;
                    position: absolute;
                    left: -15px;
                    background-size: 100% 100%;
                }
            }

        }

        .row_number {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0px;
            }

            .label {
                font-family: SourceHanSansSC-Regular;
                font-weight: 400;
                font-size: 26rpx;
                color: #545454;
                letter-spacing: 0;
                white-space: nowrap;
            }

            .value {
                font-family: SourceHanSansSC-Medium;
                font-weight: 500;
                font-size: 26rpx;
                color: #1E1E1E;
                letter-spacing: 0;
            }
        }

    }

}