.btnModel {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
      height: 76px;
      width:46%;
      background: #FFFFFF;
      border: 1px solid #0051AA;
      margin: 0 auto;
      border-radius: 10px;
      font-family: SourceHanSansSC-Regular;
      font-weight: 400;
      font-size: 28px;
      line-height: 76px;
      color: #0051AA;
      letter-spacing: 0;
      text-align: center;
      &.queren {
        background-image: linear-gradient(90deg, #0065D3 1%, #0051AA 100%);
        box-shadow: 0 3px 10px 0 #D9E4FF;
        color: #FFFFFF;
      }
    }

}
