
.tabView{
  .items{
    .index{
      margin-bottom: 30px;
      .CardBox{
        margin: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }

  }
  .item{
    margin-left: 38px !important;
    margin-bottom: 20px;
    padding: 20px 30px !important;
    background-image: none !important;
    background-color: #F5F7FF !important;
    .content{
      font-size: 28px !important;
    }
  }
  .inputBox{
    position: relative;
    margin-left: 38px !important;
    &::before{
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #FFFFFF;
      border: 3px solid #C0C0C0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -49px;
      z-index: 1;
    }
    &::after{
      content: '';
      width: 2px;
      height: calc(100%);
      background: #C0C0C0;
      position: absolute;
      bottom: 50%;
      left: -40px;
    }
    .at-textarea{
      border-radius: 20px;
    }
  }
  .pmItemContainer{
    margin-top: 30px;
    .packUp{
      margin-left: 50px;
    }
    .addPmItem, .packUp{
      font-weight: 400;
      font-size: 30px;
      color: #0051AA;
      letter-spacing: 0;
      .iconfont{
        margin-left: 10px; 
      }
    }
  }
}